.note-menu-header {
  display: flex;
  justify-content: space-between;
  /* padding: 15px; */
  margin-bottom: 30px;
}

.span-left i {
  margin-left: 5px;
  padding: 0 10px;
  font-size: 18px;
}
.span-right i {
  padding: 0 8px;
  font-size: 18px;
}
.selected {
  background-color:gray;
  color: white;
  border-radius: 3px;
}

i:hover {
  background-color: rgb(40, 40, 40);
  color: white;
  border-radius: 3px;
}

.notes li{
    padding: 0px 5px;
    border-radius: 5px;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 800;
    display: block;
}

